<a href="https://colab.research.google.com/github/KeerthanaHM36/Random-Forest/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***`IMPORTING LIBRARIES`***

In [ ]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

# ***`LOADING DATASET`***

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/income_evaluation.csv')

In [ ]:
df.shape
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.isnull().sum()

age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 income            0
dtype: int64

# ***RANDOM FOREST MODEL***

In [ ]:
x=df[['age',' workclass',' fnlwgt',' sex',' hours-per-week',' occupation']]
y=df[' income']

x.loc[:,' sex']=x[' sex'].map({'Male':1,'Female':0})

# Correct column names by stripping whitespace
x.columns = x.columns.str.strip()

# Apply one-hot encoding to categorical features
x = pd.get_dummies(x, columns=['workclass', 'occupation'], drop_first=True)


x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

rf_classifier=RandomForestClassifier(n_estimators=100,random_state=42)
rf_classifier.fit(x_train,y_train)

y_pred=rf_classifier.predict(x_test)

accuracy=accuracy_score(y_test,y_pred)
classification_rep=classification_report(y_test,y_pred)
print(f"Accuracy:{accuracy:.2f}")
print(f"Classification Report:\n{classification_rep}")

sample=x_test.iloc[0:1]
predicition=rf_classifier.predict(sample)

sample_dict=sample.iloc[0].to_dict()
print(f"\n Sample person:{sample_dict}")
print(f"Predicted Income:{'>50k'if predicition[0]==1 else '<=50k'}")

Accuracy:0.76
Classification Report:
              precision    recall  f1-score   support

       <=50K       0.82      0.87      0.85      4942
        >50K       0.50      0.42      0.46      1571

    accuracy                           0.76      6513
   macro avg       0.66      0.64      0.65      6513
weighted avg       0.75      0.76      0.75      6513


 Sample person:{'age': 27, 'fnlwgt': 160178, 'sex': nan, 'hours-per-week': 38, 'workclass_ Federal-gov': False, 'workclass_ Local-gov': False, 'workclass_ Never-worked': False, 'workclass_ Private': True, 'workclass_ Self-emp-inc': False, 'workclass_ Self-emp-not-inc': False, 'workclass_ State-gov': False, 'workclass_ Without-pay': False, 'occupation_ Adm-clerical': True, 'occupation_ Armed-Forces': False, 'occupation_ Craft-repair': False, 'occupation_ Exec-managerial': False, 'occupation_ Farming-fishing': False, 'occupation_ Handlers-cleaners': False, 'occupation_ Machine-op-inspct': False, 'occupation_ Other-service': False, 'occupation_ Priv-house-serv': False, 'occupation_ Prof-specialty': False, 'occupation_ Protective-serv': False, 'occupation_ Sales': False, 'occupation_ Tech-support': False, 'occupation_ Transport-moving': False}
Predicted Income:<=50k